{% extends "base.html.twig" %}

{% block body %}
    {{ parent()}}
    {% if error %}
        <div class="alert alert-danger"><p>erreur</p></div>
    {% endif %}
    <div class="container mt-5">
        <div class="row" style="justify-content: center; ">
            <div class="col-md-offset-3 col-md-4" style=" border: 1px solid black;  background-color: #FFEAE5; padding: 0%;">
                <div style="background-color: black; color: white; width: 100%; text-align: center;" >
                    <p>Connexion</p>
                </div>
                <form method="post" style="padding: 10px;">
                    <label for="_username">Pseudo</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="_username" class="form-control" required>
                    <label for="_password">Mot de passe</label>
                    <input type="password" name="_password" id="_password" class="form-control" required>
                    <input type="submit" value="Se connecter" class="btn btn-primary" style="margin-top: 15px; width: 100%;">
                </form>
                <a href="/create-account" style="padding: 10px; text-decoration: none;">Je n'ai pas de compte</a>         
            </div>
        </div>
    </div>

{% endblock %}