@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    background-image:url('/assets/img/hotel-wallpaper.png') !important
}

h3 {
    margin-top: 2%;
    margin-left: 20%;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.card {
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    
}



img:hover {
    cursor: pointer
}

.round .align-self-start {
    border-radius: 100%;
    width: 45px;
    height: 40px
}

.media .comment {
    background: #F4F4F4;
    border: none;
    border-radius: 10px
}

h6.user {
    color: #5C5C5C;
    font-size: 15px !important;
    padding-left: 15px !important;
    margin-bottom: 0
}

h6.user:hover {
    cursor: pointer;
    text-decoration: underline
}

p.text {
    margin-bottom: 0;
    color: #8A8A8A !important;
    font-size: 14px
}

.ml-auto {
    margin-right: 10px
}

p .reply {
    color: #5C5C5C;
    font-size: 15px
}

.container1, .page{
    margin-top: 5em;
}

@media screen and (min-width: 576px) {
    .comment {
        width: 470px !important
    }
}
@media screen and (max-width: 500px) {

    .container1{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    .container2{
    width: 90%;
    background-color: white;
    }

    .container3{
    background-color: white;
    width: 90%;    
    }
}
@media screen and (min-width: 500px) {
    .container1{
        width: 100%;       
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .container3{
        background-color: white;
        width: 25%;
        
        
    }
    .container2{
        width: 25%;
        background-color: white;
    }
}