{% extends 'base.html.twig' %}
 {% block body %}  
{{ parent() }}
<div class="container" style="display: flex; margin: 5px;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sana REZAEI</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0646189612</h6>
            <a href="/contact-sana"> Email : sana.rezaei75@gmail.com </a>
        </div>
        

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Marvin MAZEL </h5>
                <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0651624125</h6>
                <a href="/contact-marvin"> Email : marvinmazel9575@gmail.com </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sébastien MICHAUT</h5>
                <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0662518495</h6>
                <a href="/contact-sebastien"> Email : sebmichaut00@gmail.com </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Steven NICHOLLS</h5>
                <h6 class="card-subtitle mb-2 text-muted">Téléphone: 061584596</h6>
                <a href="/contact-steven"> Email : stevennichollspro@gmail.com </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
