{% extends 'base.html.twig' %}
    <div class="container">
        <h2> Contactez-Nous !!</h2>
        <h4> Nous sommes à votre dispostion de 9h à 18h 5j/7 </h4>

        <ul>
            <li> Sana REZAEI : <button class="btn btn-success"> <a href="#"> </a> </button> <br> Téléphone: 0646189612 <br> Email :  </li>           
            <li> Marvin MAZEL : <button class="btn btn-danger"> <a href="#"> </a> </button> <br> Téléphone: 0651624125 <br> Email : </li>     
            <li> Sébastien MICHAUT : <button class="btn btn-primary"> <a href="#"> </a> </button> Téléphone: 0662518495 <br> Email : </li>     
            <li> Steven NICHOLLS : <button class="btn btn-warning"> <a href="#"> </a> </button> <br> Téléphone: 061584596  <br> Email : stevennichollspro@gmail.com</li>     
        </ul>
    </div>