{% extends 'base.html.twig' %}
 {% block body %}  
{{ parent() }}
<div class="container d-flex justify-content-between flex-wrap" style="margin: 5px;">
    <div class="card" style="width: 18rem; margin: 5px;">
        <div class="card-body">
            <h5 class="card-title">Sana REZAEI</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0646189612</h6>
            <a href="/contact-sana"><button class="btn btn-primary"> Email Sana</button></a>
        </div>
        

    <div class="card" style="width: 18rem;  margin: 5px;">
        <div class="card-body">
            <h5 class="card-title">Marvin MAZEL </h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0651624125</h6>
            <a href="/contact-marvin"><button class="btn btn-primary"> Email Marvin</button></a>
        </div>

    <div class="card" style="width: 18rem; margin: 5px;">
        <div class="card-body">
            <h5 class="card-title">Sébastien MICHAUT</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0662518495</h6>
            <a href="/contact-sebastien"><button class="btn btn-primary"> Email Sébastien</button></a>
        </div>

    <div class="card" style="width: 18rem;  margin: 5px;">
        <div class="card-body">
            <h5 class="card-title">Steven NICHOLLS</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 061584596</h6>
            <a href="/contact-steven"><button class="btn btn-primary"> Email Steven</button></a>
        </div>
    </div>
</div>
{% endblock %} 
