{% extends 'base.html.twig' %}
    
<div class="container" style="display: flex; margin: 5px;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sana REZAEI</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0646189612</h6>
            <p class="card-text"> Email : sana.rezaei75@gmail.com </p>
            <button class="btn btn-success"> <a href="#"> </a> </button>    
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Marvin MAZEL </h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0651624125</h6>
            <p class="card-text"> Email : marvinmazel9575@gmail.com </p>
            <button class="btn btn-success"> <a href="#"> </a> </button>    
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Sébastien MICHAUT</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 0662518495</h6>
            <p class="card-text"> Email : sebmichaut00@gmail.com </p>
            <button class="btn btn-success"> <a href="#"> </a> </button>    
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Steven NICHOLLS</h5>
            <h6 class="card-subtitle mb-2 text-muted">Téléphone: 061584596</h6>
            <p class="card-text"> Email : stevennichollspro@gmail.com </p>
            <button class="btn btn-success"> <a href="#"> </a> </button>    
        </div>
    </div>
</div>